img {
    margin-top: 1rem;
    width:5rem;
    height:5rem;

    border-radius: 10px;
}

body {
    text-align: center;
  }

h4 {
    background-color: #333;
    color: white;
}

.result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.row {
    background-color: wheat
}

