img {
    margin-top: 1rem;
    width:5rem;
    height:5rem;

    border-radius: 10px;
}

button {
    color: white;
    background-color: #155FE8;
}

button:hover {
    background-color: white;
    color: #155FE8;
    transition: .5s;
}

body {
    text-align: center;
    background-color: #333;
    color: white;
  }

h2 {
    font-size: 30px;
    color: white;
}

h4 {
    background-color: #155FE8;
    color: white;
    font-size: 20px;
}

.result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.row {
    background-color: #092B69;
    border-radius: 20px;
}

